  <main role="main" class="inner cover">
    <h1 class="cover-heading">Moje portfolio</h1>
    <p class="lead">To jest strona startowa. Dowiedz się o mnie więcej klikając poniższy link.</p>
    <p class="lead">
      <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>